<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>{{title}}</title>
	{% load static %}
	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{{settings.favicon.url}}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'ecommerceapp/assets/css/all.min.css'%}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'ecommerceapp/assets/bootstrap/css/bootstrap.min.css'%}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'ecommerceapp/assets/css/owl.carousel.css'%}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'ecommerceapp/assets/css/magnific-popup.css'%}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'ecommerceapp/assets/css/animate.css'%}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'ecommerceapp/assets/css/meanmenu.min.css'%}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'ecommerceapp/assets/css/main.css'%}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'ecommerceapp/assets/css/responsive.css'%}">

	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
  />
	<script src="{% static 'ecommerceapp/assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
      toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    </script>
</head>
<body>

	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<img src="{{settings.logo.url}}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="/">Home</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/shop">Shop</a></li>
								<li><a href="#">Pages</a>
									<ul class="sub-menu">
										<li><a href="/404">404 page</a></li>
										<li><a href="/about">About</a></li>
										<li><a href="/cart">Cart</a></li>
										<li><a href="/checkout">Check Out</a></li>
										<li><a href="/contact">Contact</a></li>
										<li><a href="/news">News</a></li>
										
									</ul>
								</li>
								<li><a href="/news">News</a>
									<ul class="sub-menu">
										<li><a href="/news">News</a></li>
										<li><a href="/single-news">Single News</a></li>
									</ul>
								</li>
								<li><a href="/contact">Contact</a></li>
								<li><a href="/shop">Shop</a>
									<ul class="sub-menu">
										<li><a href="/shop">Shop</a></li>
										<li><a href="/checkout">Check Out</a></li>
										<li><a href="/single-product">Single Product</a></li>
										<li><a href="/cart">Cart</a></li>
									</ul>
								</li>
								<li><a href="/tracking">Tracking</a></li>

								
								
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="/cart"><i class="fas fa-shopping-cart"></i></a>
									</div>
									</li>
									<li>
										<a href="#" class="user-icon" ><i class="fas fa-user"></i></a>
											<ul class="sub-menu">
												{% if user.is_authenticated %}
												<h6>welcome <br>{{user.username}}!</h6>
												<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>   Logout</a></li>
												{% else %}
												<li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span>   Sign up</a></li>
												<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>   Log in</a></li>
												{% endif %}
											</ul>
									
									</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'info' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'warning' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'error' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% endif %}
    {% endfor %}
    {% endif %}
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->
{% block content %}

{% endblock %}
	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						{% for brand in brands %}
						<div class="single-logo-item">
							<img src="{{brand.brand_image.url}}" alt="">
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->
	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>{{settings.address}}</li>
							<li>{{settings.email}}</li>
							<li>{{settings.phone_number}}</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="about">About</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="/news">News</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; {{settings.copyright_year}} - <a href="https://hybridtech.org.pk/">{{settings.copyright_name}}</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">{{settings.distributor_by}}</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="{{settings.facebook_url}}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="{{settings.twitter_url}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="{{settings.instagram_url}}" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="{{settings.linkedin_url}}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{% static 'ecommerceapp/assets/js/jquery-1.11.3.min.js'%}"></script>
	<!-- bootstrap -->
	<script src="{% static 'ecommerceapp/assets/bootstrap/js/bootstrap.min.js'%}"></script>
	<!-- count down -->
	<script src="{% static 'ecommerceapp/assets/js/jquery.countdown.js'%}"></script>
	<!-- isotope -->
	<script src="{% static 'ecommerceapp/assets/js/jquery.isotope-3.0.6.min.js'%}"></script>
	<!-- waypoints -->
	<script src="{% static 'ecommerceapp/assets/js/waypoints.js'%}"></script>
	<!-- owl carousel -->
	<script src="{% static 'ecommerceapp/assets/js/owl.carousel.min.js'%}"></script>
	<!-- magnific popup -->
	<script src="{% static 'ecommerceapp/assets/js/jquery.magnific-popup.min.js'%}"></script>
	<!-- mean menu -->
	<script src="{% static 'ecommerceapp/assets/js/jquery.meanmenu.min.js'%}"></script>
	<!-- sticker js -->
	<script src="{% static 'ecommerceapp/assets/js/sticker.js'%}"></script>
	<!-- main js -->
	<script src="{% static 'ecommerceapp/assets/js/main.js'%}"></script>

	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script>
		$(".js-example-placeholder-single").select2({
    placeholder: "Select a category",
    allowClear: true
		});
	</script>
	<script>
		/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

	</script>
</body>
</html>