{% extends 'ecommerceapp/base.html'%}
{% block content %}
{% load static %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->


	<!-- products -->
	
	


	<div class="product-section mt-10 mb-150">
		<div class="container">
			<div class="col-lg-12 text-center">
					<div class="hero__search__categories">
			
						<button onclick="myFunction()" class="dropbtn">Select a Category</button>
					
						<div id="myDropdown" class="dropdown-content">
						<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
						<a href="/shop">All</a>
						{% for category in categories %}
						<a href="/shop/{{category.id}}">{{category.name}}</a>
						{% endfor %}	
						</div>
					</div>

					<div class="hero__search">
				
						<div class="hero__search__form">
							<form method="GET" action="{% url 'ecommerceapp-product-search'%}">
								<input type="text" name="search" placeholder="Search.....">
								<button type="submit" class="site-btn">SEARCH</button>
							</form>
						</div>
					</div>
			</div>
			

			<div class="row product-lists">
				{% if products %}
				{% for product in products %}
				<div class="col-lg-4 col-md-6 text-center">
					
					<div class="single-product-item">
						
						<div class="product-image">
							{% if product.discount_per != 0 %}
							<div class="price-box">
								<div class="inner-price">
									<span class="price">
										<strong>{{product.discount_per}}%</strong> <br> Discount
									</span>
								</div>
							</div>
							{% endif %}
							{% if product.stock_quantity <= 0 %}
							<H3 class="OutOfStock">Out of Stock</H3>
							{% endif %}
							<a href="/single-product/{{product.id}}" width='20px'><img src="{{product.image.url}}" alt="" ></a>
						</div>
						<h3 style="font-size: 18px;">{{product.name}}</h3>
						{% if product.discount_price > 0 %}
							<p class="product-price"><span><del>Rs. {{product.price}}</del></span></p>
							<p class="product-price"><span>Rs. {{product.discount_price}}</span> </p>
						{% else %}
							<p class="product-price"><span>Rs. {{product.price}}</span></p>
							<p class="product-price"><span><br></span> </p>
						{% endif %}
						{% if product.stock_quantity > 0 %}
							<a href="/cart/add/{{product.id}}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
						{% else %}
							<a href="#" class="cart-btn btn-lg disabled" role="button" aria-disabled="true"><i class="fas fa-shopping-cart"></i>Out Of Order</a>
						{% endif %}
					</div>
				</div>
				{% endfor %}{% else %}
				<h1>No Product Found</h1>
				{% endif %}
			</div>
			
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<ul>
							<li><a href="#">Prev</a></li>
							<li><a href="#">1</a></li>
							<li><a class="active" href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end products -->
{% endblock %}