{% extends 'ecommerceapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Log In</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
	
<div class="content-section col-md-12   mt-10" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
	<form method="POST" style="width: 40%; border: 1px solid black; align-content: center; padding:2%; border-radius:1%;">
	  {% csrf_token %}
	  <fieldset class="form-group">
		{{ form |crispy}}
	  </fieldset>
	 <center>
	  <button style="background: black; font-size: 2rem; padding:1%;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span>   login</button>
	</center>
	<br/>
	<sub style="text-align: left;"><a href="{% url 'signup' %}" style="text-decoration: none; color: blue; padding:2%; cursor:pointer; margin-right:2%;">don't have account,sign up</a></sub>
	</form>
   </div>
{% endblock %}